#logo-div{
    //height: 50%;
    min-height: 25%;
    display: flex;
    align-items: center; //vertical
    justify-content: center; //horizontal

    h3{
        text-align: center;
    }

    p{
        text-align: center;
    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center; //horizontal
        width: 40%;
    }
}
