<div id="logo-div">
  <ion-text color="medium">
    <p>{{title ? title : ''}}</p>
    <img src="../../../assets/icon/silent_hill_3_halo_of_the_sun___halo_del_sol_by_deg5270_dcvd5pz-fullview.png">
    <h3>iFinanças</h3>
  </ion-text>
</div>