</ion-header>

<ion-content class="ion-padding">
  <ion-item>
      <ion-label>Mês</ion-label>
      <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
  </ion-item>

  <br>

  <dash-card
    valor   = {{conta.receber.valor}}
    tipo    = "receber"
    num     = {{conta.receber.num}}
  ></dash-card>

  <dash-card
    valor   = {{conta.pagar.valor}}
    tipo    = "pagar"
    num     = {{conta.pagar.num}}
  ></dash-card>

  <dash-card
    valor   = {{conta.saldo.valor}}
    tipo    = "saldo"
    num     = {{conta.saldo.num}}
  ></dash-card>

  <div id="btnMenu">
    <ion-button fill="clear" [routerLink]="['/contas/pagar']"   expand="block">Contas a Pagar</ion-button><br>
    <ion-button fill="clear" [routerLink]="['/contas/receber']" expand="block">Contas a Receber</ion-button>
  </div>

</ion-content>
